In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Health_Data.csv")

In [3]:
# 30 day readmission: 30

In [4]:
df.head()

,Patient_id,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital,Readmitted
0,1,33,Urgent,Y,0,M,1,0,1,0
1,2,34,Emergency,N,0,M,1,0,22,0
2,3,88,Trauma,Y,1,M,1,1,100,1
3,4,56,Elective,Y,0,M,1,0,2,0
4,5,45,Trauma,Y,0,M,1,0,34,0

In [5]:
df.iloc[0:3,4:6]

   PreviousSurgery Gender
0                0      M
1                0      M
2                1      M

In [6]:
df.describe()

,Patient_id,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Readmitted
count,357.00000,357.000000,357.000000,357.000000,357.000000,357.000000,357.000000
mean,179.00000,42.574230,0.341737,0.596639,0.378151,43.182073,0.193277
std,103.20126,29.274624,0.474957,0.491261,0.485606,47.362609,0.395423
min,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,90.00000,14.000000,0.000000,0.000000,0.000000,12.000000,0.000000
50%,179.00000,35.000000,0.000000,1.000000,0.000000,32.000000,0.000000
75%,268.00000,67.000000,1.000000,1.000000,1.000000,55.000000,0.000000
max,357.00000,96.000000,1.000000,1.000000,1.000000,352.000000,1.000000

In [7]:
df.describe(include='object')

       Admission_type PreExistingDisease Gender
count             357                357    357
unique              5                  2      2
top            Urgent                  N      F
freq              131                228    186

In [8]:
X=df.iloc[:,1:9]
y=df.iloc[:,9]

In [9]:
X.head()

,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital
0,33,Urgent,Y,0,M,1,0,1
1,34,Emergency,N,0,M,1,0,22
2,88,Trauma,Y,1,M,1,1,100
3,56,Elective,Y,0,M,1,0,2
4,45,Trauma,Y,0,M,1,0,34

In [10]:
type(X)

pandas.core.frame.DataFrame

In [11]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Readmitted, dtype: int64

In [12]:
type(y)

pandas.core.series.Series

In [13]:
X.shape

(357, 8)

In [14]:
len(X)

357

In [15]:
##New Admission type
A_type=pd.get_dummies(X.iloc[:,1],drop_first=True,prefix='Atype')

##New Gender 
New_gender=pd.get_dummies(X.iloc[:,4],drop_first=True,prefix='Gender')

##New Pre Existing Disease Variable
Pre_exdis=pd.get_dummies(X.iloc[:,2],drop_first=True,prefix='PreExistDis')

## Drop the original categorical columns
X.drop(['Admission_type','PreExistingDisease','Gender'],axis=1,inplace=True)

##Concat the new transformed data to X dataframe
X=pd.concat([X,A_type,New_gender,Pre_exdis],axis=1)

In [16]:
A_type = pd.get_dummies(X.iloc[:,1],drop_first=True,prefix='Atype')

In [17]:
df.Admission_type.head(10)

0       Urgent
1    Emergency
2       Trauma
3     Elective
4       Trauma
5     Elective
6     Elective
7     Elective
8       Trauma
9    Emergency
Name: Admission_type, dtype: object

In [18]:
A_type.head(10)

   Atype_1
0        0
1        0
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0

In [ ]:
New_gender=pd.get_dummies(X.iloc[:,4],drop_first=True,prefix='Gender')

In [ ]:
Pre_exdis=pd.get_dummies(X.iloc[:,2],drop_first=True,prefix='PreExistDis')

In [ ]:
X.drop(['Admission_type','PreExistingDisease','Gender'],axis=1,inplace=True)

In [ ]:
X.head()

In [ ]:
X.drop(['Admission_type','PreExistingDisease','Gender'],axis=1,inplace=True)

In [ ]:
X.head()

In [ ]:
X=pd.concat([X,A_type,New_gender,Pre_exdis],axis=1)

In [ ]:
X.head()

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33, random_state=42)

In [22]:
len(X)

357

In [23]:
len(X_train)

239

In [24]:
len(X_test)

118

In [25]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

X_train=sc.fit_transform(X_train)
X_train=pd.DataFrame(X_train,columns=X_test.columns)

X_test=sc.transform(X_test)
X_test=pd.DataFrame(X_test,columns=X_train.columns)

In [26]:
X_train

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Atype_Emergency,Atype_Newborn,Atype_Trauma,Atype_Urgent,Gender_M,PreExistDis_Y
0,0.669196,-0.669690,0.848189,1.241996,-0.011330,-0.334108,-0.310371,1.850926,-0.770281,-0.971128,-0.682831
1,-1.084286,1.493228,-1.178983,1.241996,-0.856314,-0.334108,-0.310371,-0.540270,1.298227,1.029730,1.464492
2,-0.713357,1.493228,0.848189,1.241996,-0.817906,-0.334108,-0.310371,-0.540270,1.298227,1.029730,-0.682831
3,1.579657,-0.669690,0.848189,-0.805156,-0.741089,-0.334108,-0.310371,-0.540270,-0.770281,-0.971128,-0.682831
4,-1.488935,-0.669690,-1.178983,-0.805156,-0.741089,-0.334108,3.221949,-0.540270,-0.770281,-0.971128,-0.682831
...,...,...,...,...,...,...,...,...,...,...,...
234,-0.005220,-0.669690,-1.178983,-0.805156,-0.645068,-0.334108,-0.310371,-0.540270,-0.770281,-0.971128,-0.682831
235,0.466871,-0.669690,-1.178983,1.241996,-0.030534,-0.334108,-0.310371,-0.540270,1.298227,-0.971128,-0.682831
236,-1.488935,-0.669690,-1.178983,1.241996,-0.395414,-0.334108,3.221949,-0.540270,-0.770281,1.029730,-0.682831
237,-0.713357,-0.669690,0.848189,1.241996,-0.837110,-0.334108,-0.310371,-0.540270,-0.770281,-0.971128,-0.682831
238,1.478495,-0.669690,0.848189,1.241996,-0.817906,-0.334108,-0.310371,1.850926,-0.770281,1.029730,-0.682831

In [27]:
X_test

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Atype_Emergency,Atype_Newborn,Atype_Trauma,Atype_Urgent,Gender_M,PreExistDis_Y
0,-0.376149,-0.669690,0.848189,-0.805156,-0.049738,-0.334108,-0.310371,-0.540270,1.298227,-0.971128,1.464492
1,-1.084286,-0.669690,-1.178983,-0.805156,-0.817906,-0.334108,-0.310371,-0.540270,-0.770281,1.029730,-0.682831
2,0.298267,-0.669690,-1.178983,1.241996,-0.433822,-0.334108,-0.310371,1.850926,-0.770281,1.029730,1.464492
3,-1.084286,1.493228,-1.178983,-0.805156,-0.376209,-0.334108,-0.310371,1.850926,-0.770281,1.029730,1.464492
4,-1.421494,-0.669690,0.848189,-0.805156,0.142304,-0.334108,-0.310371,-0.540270,-0.770281,1.029730,-0.682831
...,...,...,...,...,...,...,...,...,...,...,...
113,-1.016844,1.493228,-1.178983,1.241996,-0.433822,-0.334108,-0.310371,-0.540270,1.298227,1.029730,-0.682831
114,0.129663,1.493228,0.848189,-0.805156,-0.741089,2.993047,-0.310371,-0.540270,-0.770281,1.029730,-0.682831
115,-0.713357,1.493228,0.848189,-0.805156,-0.472230,-0.334108,-0.310371,1.850926,-0.770281,-0.971128,1.464492
116,-1.320331,1.493228,0.848189,-0.805156,-0.049738,2.993047,-0.310371,-0.540270,-0.770281,1.029730,1.464492
117,1.411053,1.493228,0.848189,1.241996,1.717048,-0.334108,-0.310371,1.850926,-0.770281,-0.971128,1.464492

In [28]:
y_test

222    0
42     0
291    0
300    0
56     0
      ..
284    0
79     0
295    0
18     0
211    1
Name: Readmitted, Length: 118, dtype: int64

In [29]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [30]:
y_pred=model.predict(X_test)

In [31]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [32]:
from sklearn.metrics import accuracy_score, classification_report
score=accuracy_score(y_pred,y_test)
score

0.9067796610169492